<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<section class="about">
  <h1>友達を探してみませんか？</h1>
  <p>
     Achibookは、Achieveを参考に作成された、Facebook風アプリです。
  </p>
</section>

<section class="main-header">
  <img src="<%= asset_path "achibook.png" %>">
</section>
